@page "/fetchdata"
@namespace Blazr.Demo.Routing.UI
@implements IDisposable

<WeatherForecastListHeader/>

<div class="col-12 text-end">
    <button class="btn btn-success" @onclick="AddRecord">Add Record</button>
</div>

<WeatherForecastList />
@code {

    [Inject] private WeatherForecastViewService? _viewService { get; set; }

    protected async override void OnInitialized()
    {
        await this._viewService!.GetForecastsAsync();
        this._viewService.ListChanged += this.OnListChanged;
    }

    private async Task LoadRecords(int page)
        => await this._viewService!.GetForecastsAsync();

    private async Task AddRecord()
    => await this._viewService!.AddRecord(
        new WeatherForecast
            {
                Date = DateTime.Now,
                Id = Guid.NewGuid(),
                Summary = "Balmy",
                TemperatureC = 14
            });

    private void OnListChanged(object? sender, EventArgs e)
        => this.InvokeAsync(this.StateHasChanged);

    public void Dispose()
        => this._viewService!.ListChanged -= this.OnListChanged;

}
